<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="javascripts/welcome.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="head">
        <h1>MyBook</h1>
        <div class="btns">
          <button onclick="login()" class="btn btn-secondary">Login</button>
          <!-- <button class="btn btn-secondary">My Profile</button> -->
        </div>
      </div>
    </header>
    <div class="welcome">
      <h1>Welcome</h1>
    </div>
  </body>
</html>
